
.maindiv{
    background-image: url("https://www.apollokakinada.com/images/bannerimage11.jpg");
    width: 100%;
    height: 400px;
    border: 1px solid red;
}

.heading{
    margin-top: 440px;
    color: blue;
    font-size: 32px;
    font-weight: bold;

}

.appoinmentbtn{
    width: 250px;
    height: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 8, 245);
}

.landginpagedoctor{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin-left: 160px;
}

.doctor1{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(8, 6, 6);
 
}

.doctor2{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(8, 6, 6);
    margin-left: 50px;
}


.doctor3{
    width: 100%;
    height: 250px;
    border: 1px solid rgb(8, 6, 6);
    margin-left: 100px;
    margin-bottom: 50px;
}

.doctor1> img {
    width: 100%;
    height: 100%;
}
.doctor2> img {
    width: 100%;
    height: 100%;
}
.doctor3> img {
    width: 100%;
    height: 100%;
}